{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "datafit",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "luckychild305/researchurl:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ],
  "Volumes": [],
  "Logging": "/var/log/researchURL"
}